<div class="container mt-5" *ngIf="productDetails">
  <div class="card shadow-lg border-0 rounded-4 p-3 text-center">
    <img [src]="'http://localhost:3000' + productDetails.image" class="card-img-top w-50 mx-auto rounded-4" alt="{{ productDetails.name }}">
    <div class="card-body">
      <h3 class="card-title text-primary">{{ productDetails.name }}</h3>
      <p class="card-text text-muted fs-5">💰 السعر: {{ productDetails.price }} جنيه</p>
    </div>
  </div>
</div>


<!-- <div class="container mt-5" *ngIf="productDetails">
  <div class="card shadow-lg border-0 rounded-4 p-3 text-center">
    <img [src]="productDetails.image" class="card-img-top mx-auto rounded-4" alt="{{productDetails.name}}">
    <div class="card-body">
      <h3 class="card-title text-primary"> {{productDetails.name}}</h3>
      <p class="card-text text-muted fs-5">💰 السعر: {{ productDetails.price }} جنيه</p>
    </div>
  </div>
</div> -->


<ol>
  <li>
      <p>What's your name?</p>
      <input matInput [(ngModel)]="name">
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <em>{{animal}}</em>
  </li>
</ol>

