<div class="container bg-light d-flex flex-column align-items-center justify-content-center rounded-4 vh-100">
  <h1 class="text-decoration-underline pb-4 text-primary fw-bold">
    Welcome to Auth App
  </h1>

  <div class="w-100 d-flex flex-column align-items-center">
    <button routerLink="/login"
            class="btn btn-primary mb-5 rounded fs-3 fw-bold w-50 p-3 m-2 shadow">
      LOGIN.
    </button>
    <button routerLink="/register"
            class="btn btn-success rounded fs-3 fw-bold w-50 p-3 m-2 shadow">
      REGISTER
    </button>
  </div>
</div>
